.header {
	font-size: 51px;
	font-family: 'Acme', sans-serif;
	color: black;
	clear: right;
	text-align: center;
}

.description {
	font-family: Acme;
	font-size: 20px;
}

nav li {
	color: white;
	text-align: center;
	background-color: rgb(1, 4, 183);
	
}